.Before {
    background-color: #f2ddd4;
    color: #BC4B4C;
    height: 100vh;
    width: 100%;
    padding: 20px;

    h1 {
        font-size: xxx-large;
        font-family: sans-serif;
    }

    .Content {
        text-align: left;
        display: flex;
        float: left;
        width: 100%;
        justify-content: center;

        .ImageBox img {
            width: 500px;
            height: 500px;
            object-fit: cover;
        }

        .ListContainer {
            font-size: large;
            line-height: 1.5;
        }
    }
}
